/* You can add global styles to this file, and also import other style files */


.popover {
    max-width: 400px !important;
    width: 100% !important;
    margin-left:-161px !important;
}

.popover-arrow {
    display: none !important;
}
.cursor-pointer {
    cursor: pointer;
}

